@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .main-movie-button {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px) {
    .main-movie-description {
        width: 50%;
    }
}